ul2 li {
  list-style: none;
  display: inline-block;
  line-height: 10px;
  
}

ul2 li a {
  
  text-decoration: none;
  font-size: 12px;
  color: rgb(255, 254, 254);
  padding: 0 20px;
  font-family: "veranda", "Arial", "Sans-serif";
  background-color: rgb(0, 0, 0);
}
    
ul2 li a:hover {
  color: green;
} 

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

